BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 0

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
BreakBeforeCloseBracketBracedList: true
