Checks: >
  -*,

  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,

  readability-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
